[submodule "VexRiscv"]
	path = VexRiscv
	url = git@github.com:tianyouw/VexRiscv.git
[submodule "VexRiscvSocSoftware"]
	path = VexRiscvSocSoftware
	url = git@github.com:tianyouw/VexRiscvSocSoftware.git
