[submodule "VexRiscvSocSoftware"]
	path = VexRiscvSocSoftware
	url = https://github.com/SpinalHDL/VexRiscvSocSoftware.git
[submodule "VexRiscv"]
	path = VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
